<p>posts works!</p>


<ul class="list-group">

    <app-post *ngFor="let mensaje of mensajes | async"
    [mensaje]="mensaje"
    (clickPost)="escuchaClick( $event )"></app-post>

    <!-- <li class="list-group-item" *ngFor="let mensaje of mensajes | async">
        <h1> {{mensaje.title}} </h1>
        <p>{{mensaje.body}}</p>
    </li> -->
</ul>